<div class="menu-sidebar">
    <div class="menu-sidebar-wrap">
        <!-- Brand Logo -->
        <div class="icon">
            <img src="../../../assets/images/logo.png" alt="logo" class="img-fluid" style="width: 50px; height: auto;">
        </div>
        <ul class="menu">
            <li class="menu-item">
                <div class="menu-link">
                    <i class="icon-dashboard"></i>
                </div>
            </li>
            <li class="menu-item">
                <div class="menu-link">
                    <i class="icon-users"></i>
                </div>
            </li>
            <li class="menu-item">
                <div class="menu-link">
                    <i class="icon-group-coaching"></i>
                </div>
            </li>
            <li class="menu-item mb-0">
                <div class="menu-link">
                    <i class="icon-manage"></i>
                </div>
            </li>
        </ul>

        <ul class="menu">
            <li class="menu-item">
                <div class="menu-link">
                    <i class="icon-dashboard"></i>
                </div>
            </li>
            <li class="menu-item">
                <div class="menu-link">
                    <i class="icon-users"></i>
                </div>
            </li>
            <li class="menu-item mb-0">
                <div class="menu-link">
                    <i class="icon-group-coaching"></i>
                </div>
            </li>
        </ul>

        <ul class="menu">
            <li class="menu-item">
                <div class="menu-link">
                    <i class="icon-dashboard"></i>
                </div>
            </li>
            <li class="menu-item">
                <div class="menu-link">
                    <i class="icon-users"></i>
                </div>
            </li>
            <li class="menu-item mb-0">
                <div class="menu-link">
                    <i class="icon-group-coaching"></i>
                </div>
            </li>
        </ul>
    </div>
</div>