.app-content {
    display: flex;
    background: #191919;

    .app-sidemenu {
        position: relative;
        z-index: 2;
        flex: 0 0 120px;
        height: max-content;
    }

    .app-data {
        position: relative;
        z-index: 1;
        min-height: 100vh;

        .app-body {
            padding: 30px;
        }
    }
}